# Ignore core BotPress files and binaries
/bp/
node_modules/
data/storage/
/data/storage/core.sqlite
logs/
modules/
workspaces/

# Ignore sensitive data
.env
*.env

# Ignore OS and IDE-specific files
.DS_Store
Thumbs.db
.idea/
.vscode/
